html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Open Sans",sans-serif;
}

#header{
  background-color: black;
  min-height: 10%;
  width: 100%;
}

#navbar{
  text-align: center;
  height: 50px;
  background-color: #085675;
  width: 100%;
  border-bottom: 1px solid black;
}

#navbar li, #navbar ul{
  margin-top: 0;
  display: inline-block;
}

#navbar ul{
  font-size:0; /* Hack for whitespace caused by inline-block */
}

#navbar li{
  padding-left: 50px;
  padding-right: 50px;
  height: 50px;
  border-right: 1px solid #0c4455;
}

#navbar li:hover{
  background-color: #0a7983;
}

#navbar a{
  position: relative;
  top: 25%;
  transform: translateY(-25%);
  font-family: 'Open Sans Condensed',Arial,sans-Serif;
  font-weight: bold;
  font-size: .938rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
